[submodule "activitypub"]
	path = mu-plugins/activitypub
	url = https://github.com/Automattic/wordpress-activitypub
[submodule "gatherpress"]
	path = mu-plugins/gatherpress
	url = https://github.com/GatherPress/gatherpress
